.container {
    min-height: 100vh;
}

.about {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
    background-color: var(--dl-color-neutral-50);
}

.home {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    padding: 20px 160px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 0;
    justify-content: center;
    background-color: var(--dl-color-neutral-50);
}

.nav {
    width: 100%;
    display: flex;
    padding: 0 32px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: space-between;
}

.navbar {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
}

.logo {
    width: 128px;
    height: 32px;
    position: relative;
    margin-right: 64px;
}

.nav-links {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
}

.nav-link {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 32px;
}

.nav-link .link {
    color: #ffffff;
    width: 100px;
    padding: 4px;
    align-self: flex-start;
    text-align: center;
    border-radius: 18px;
    background-color: #0a65ce;
}

.nav-buttons {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
    justify-content: flex-end;
}

.game-button {
    height: 46px;
    display: flex;
    padding: 8px 32px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 12px;
    justify-content: center;
    text-decoration: none;
    background-color: var(--dl-color-blue-500);
}

.text {
    width: 50px;
    position: relative;
    align-self: center;
    border-color: transparent;
}

.homepage {
    width: auto;
    display: flex;
    padding: 48px 32px 80px 32px;
    z-index: 1;
    position: relative;
    margin-top: 0;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 0;
    justify-content: space-between;
}

.about-container {
    width: 780px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 161px;
    flex-direction: column;
    justify-content: center;
}

.info-container {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.info {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 48px;
    flex-direction: column;
}

.icon-text {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 12px;
}

.text-header {
    color: var(--dl-color-gray-black);
    padding: var(--dl-space-space-halfunit);
    border-radius: 18px;
    background-color: var(--dl-color-gray-700);
}

.text-paragraph {
    color: var(--dl-color-gray-black);
    padding: var(--dl-space-space-halfunit);
    font-size: 14px;
    border-radius: 18px;
    background-color: #d0cfcf;
}

.buttons {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
}

.about-button {
    height: 46px;
    display: flex;
    padding: 8px 32px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 24px;
    border-radius: 12px;
    justify-content: center;
    text-decoration: none;
    background-color: var(--dl-color-blue-500);
}

.image {
    width: 528px;
    height: 528px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-neutral-700);
}

div .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
}

.examples-container {
    width: 100%;
    display: flex;
    padding: 64px 0;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-neutral-50);
}

.examples-header {
    width: 1280px;
    display: flex;
    padding: 0 32px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 64px;
    flex-direction: column;
    justify-content: center;
}

.examples-header .container {
    width: 800px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.headline-text {
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    text-align: center;
    border-radius: 18px;
    background-color: #D9D9D9;
}

.section {
    width: 1280px;
    display: flex;
    padding: 0 32px;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.examples {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 8px;
}

.example {
    width: 400px;
    height: 200px;
    display: flex;
    padding: 32px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 8px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-neutral-600);
}

.photo {
    width: 136px;
    height: 100%;
    position: relative;
}

.example-info {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: center;
    border-color: transparent;
    flex-direction: column;
    justify-content: center;
}

div .example-name {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 10px;
    flex-direction: column;
}

div .example-name span {
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    text-align: center;
    border-radius: 18px;
    background-color: rgb(217, 217, 217);
}

.example-image {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    box-sizing: content-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 100px;
    margin-bottom: 16px;
    justify-content: center;
    background-color: var(--dl-color-neutral-900);
}

.photo {
    width: 136px;
    height: 100%;
    position: relative;
}

.footer {
    width: 100%;
    display: flex;
    padding: 64px 0;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
    background-color: var(--dl-color-neutral-50);
}

.footer .section {
    width: 1280px;
    display: flex;
    padding: 0 32px;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.h-container {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 64px;
    justify-content: space-between;
}

.h-container div {
    width: 309px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

@media (max-width: 1600px) {
    .homepage {
        width: 100%;
        margin-right: 0;
    }
}
