:root {
  --dl-color-gray-50: rgba(95, 109, 126, 1);
  --dl-color-blue-500: rgba(67, 126, 247, 1);
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-color-gray-5001: rgba(46, 54, 70, 1);
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-base-black: rgba(0, 0, 0, 1);
  --dl-color-base-white: rgba(255, 255, 255, 1);
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-neutral-50: rgba(248, 250, 252, 1);
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-neutral-100: rgba(248, 249, 251, 1);
  --dl-color-neutral-400: rgba(241, 244, 248, 1);
  --dl-color-neutral-600: rgba(229, 232, 235, 1);
  --dl-color-neutral-700: rgba(209, 217, 226, 1);
  --dl-color-neutral-900: rgba(124, 139, 157, 1);
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.root {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.root::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.HeadlineSDesktopMedium {
  font-size: 28px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadlineLDesktopMedium {
  font-size: 36px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadlinexLDesktopSemiBold {
  font-size: 40px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlinexSMobileMedium {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.TextxSSemiBold {
  font-size: 13px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlineLMobileMedium {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.DisplayMDesktopBold {
  font-size: 52px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.TextLRegular {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.TextxLSemiBold {
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlinexSDesktopMedium {
  font-size: 22px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.TextMRegular {
  font-size: 15px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.TextSSemiBold {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.TextLBold {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.TextxLMedium {
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadlineLMobileRegular {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.TextxSRegular {
  font-size: 13px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.HeadlineSMobileBold {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlineMMobileBold {
  font-size: 28px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HedlinexxSDesktopRegular {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.HeadlineMDesktopSemiBold {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.TextMMedium {
  font-size: 15px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.TextxSMedium {
  font-size: 13px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadlinexLMobileBold {
  font-size: 36px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.TextSMedium {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadlinexxSMobileSemiBold {
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlineSMobileSemiBold {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlineSDesktopSemiBold {
  font-size: 28px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HedlinexxSDesktopSemiBold {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlinexSDesktopSemiBold {
  font-size: 22px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.HeadlinexLMobileSemiBold {
  font-size: 36px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlinexSMobileSemiBold {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.TextLMedium {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadlineSMobileMedium {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadlineLMobileSemiBold {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.TextxLRegular {
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.TextSRegular {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.HeadlineMMobileSemiBold {
  font-size: 28px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.TextLSemi-Bold {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.TextMSemiBold {
  font-size: 15px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlineLMobileBold {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
